<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">



    <%include ../static/css.html%>

    <title></title>
</head>

<body class="single-post" >
    <div id="result">

    </div>
<%=photo_url%>






<%include ../addon/footer.html%>

<!-- LOAD JQUERY -->
<%include ../static/js.html%>
<script>
    setTimeout(function () {

        var photo_url = '<%=photo_url%>';
            embedpano({swf:"/"+photo_url+".swf", xml:"/"+photo_url+".xml", target:"result", html5:"prefer", passQueryParameters:true});


    },10);
</script>


</body>

</html>