<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%include ../static/css.html%>
<style>
    #result{
        min-height: 200px;
        max-height: 500px;
        max-width: 1024px;
    }
    #description{
        width: 100%;
        background: rgba(0,0,0,1);
        color: white;
        margin: 0;
        padding: 12px;
    }

</style>
    <title>Bingle+</title>
</head>

<body class="single-post" >
    <div id="description" class="row text-center">

        <h1 style="float: left;font-size: 20px; color: white"><%=account%></h1>
        <span style="font-size: 20px">
            <%=comment%>
        </span>
        <h1 style="font-size: 20px;float: right;color: white">bingle<span style="color: #E15D5D">+</span></h1>
    </div>
    <div id="result">

    </div>

    <!-- test start -->
    <div class="col-md-10 col-md-offset-1">
        <div class="content">

            <!-- POST -->
            <div class="post">
                <div class="post-media">
                    <div class="image-wrap">
                        <img src="198.252.101.230/images/blog/25.jpg" alt="">
                    </div>
                    <div class="post-cat">
                        <a href="#">Travel</a>
                    </div>
                </div><div class="post-meta">
                    <div class="post-format">
                        <a href="#"><i class="fa fa-image"></i></a>
                    </div>
                    <div class="post-date">
                        <span class="year">2015</span>
                        <span class="month">Mar</span>
                        <span class="day">14</span>
                    </div>
                    <div class="post-comment">
                        <i class="fa fa-comment"></i>
                        <a href="#">105</a>
                    </div>
                </div>

                <div class="post-body">
                    <div class="post-author">
                        <div class="image-thumb">
                            <img src="198.252.101.230/images/author/1.jpg" alt="">
                        </div>
                        <div class="name-author">
                            <cite>Barbara Walters</cite>
                        </div>
                    </div>
                    <div class="post-title">
                        <h2><a href="blog-single.html">Nam commodo turpis sit amet magna</a></h2>
                    </div>
                    <div class="post-entry">
                        <p>Mauris id sapien ante. Praesent vulputate feugiat quam. Duis aliquam nisl non tellus ullamcorper, eget blandit nunc suscipit. Ut placerat urna ac nisl pretium, at gravida purus pulvinar. In pulvinar sit amet dolor non finibus. Aliquam at arcu egestas quam accumsan luctus. Mauris in sagittis lorem. Cras dapibus varius eros at vestibulum.</p>
                    </div>
                    <div class="post-link">
                        <a href="blog-single.html" class="pi-btn">Read more</a>
                    </div>
                    <div class="post-share">
                                    <span class="share-toggle pi-btn">
                                        <i class="fa fa-share-alt"></i>
                                    </span>
                        <div class="share">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END / POST -->

            <!-- POST -->
            <div class="post">
                <div class="post-media">
                    <div class="image-wrap">
                        <img src="images/blog/2.jpg" alt="">
                    </div>
                    <div class="post-cat">
                        <a href="#">Music</a>
                    </div>
                </div><div class="post-meta">
                    <div class="post-format">
                        <a href="#"><i class="fa fa-soundcloud"></i></a>
                    </div>
                    <div class="post-date">
                        <span class="year">2015</span>
                        <span class="month">Mar</span>
                        <span class="day">14</span>
                    </div>
                    <div class="post-comment">
                        <i class="fa fa-comment"></i>
                        <a href="#">105</a>
                    </div>
                </div>

                <div class="post-body">
                    <div class="post-author">
                        <div class="image-thumb">
                            <img src="images/author/1.jpg" alt="">
                        </div>
                        <div class="name-author">
                            <cite>Barbara Walters</cite>
                        </div>
                    </div>
                    <div class="post-title">
                        <h2><a href="blog-single.html">Nam commodo turpis sit amet magna</a></h2>
                    </div>
                    <div class="post-entry">
                        <p>Mauris id sapien ante. Praesent vulputate feugiat quam. Duis aliquam nisl non tellus ullamcorper, eget blandit nunc suscipit. Ut placerat urna ac nisl pretium, at gravida purus pulvinar. In pulvinar sit amet dolor non finibus. Aliquam at arcu egestas quam accumsan luctus. Mauris in sagittis lorem. Cras dapibus varius eros at vestibulum.</p>
                    </div>
                    <div class="post-link">
                        <a href="blog-single.html" class="pi-btn">Read more</a>
                    </div>
                    <div class="post-share">
                                    <span class="share-toggle pi-btn">
                                        <i class="fa fa-share-alt"></i>
                                    </span>
                        <div class="share">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END / POST -->

            <!-- POST -->
            <div class="post">
                <div class="post-media">
                    <div class="image-wrap">
                        <img src="images/blog/3.jpg" alt="">
                    </div>
                    <div class="post-cat">
                        <a href="#">Lifestyle</a>
                    </div>
                </div><div class="post-meta">
                    <div class="post-format">
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                    <div class="post-date">
                        <span class="year">2015</span>
                        <span class="month">Mar</span>
                        <span class="day">14</span>
                    </div>
                    <div class="post-comment">
                        <i class="fa fa-comment"></i>
                        <a href="#">105</a>
                    </div>
                </div>

                <div class="post-body">
                    <div class="post-author">
                        <div class="image-thumb">
                            <img src="images/author/1.jpg" alt="">
                        </div>
                        <div class="name-author">
                            <cite>Barbara Walters</cite>
                        </div>
                    </div>
                    <div class="post-title">
                        <h2><a href="blog-single.html">Nam commodo turpis sit amet magna</a></h2>
                    </div>
                    <div class="post-entry">
                        <p>Mauris id sapien ante. Praesent vulputate feugiat quam. Duis aliquam nisl non tellus ullamcorper, eget blandit nunc suscipit. Ut placerat urna ac nisl pretium, at gravida purus pulvinar. In pulvinar sit amet dolor non finibus. Aliquam at arcu egestas quam accumsan luctus. Mauris in sagittis lorem. Cras dapibus varius eros at vestibulum.</p>
                    </div>
                    <div class="post-link">
                        <a href="blog-single.html" class="pi-btn">Read more</a>
                    </div>
                    <div class="post-share">
                                    <span class="share-toggle pi-btn">
                                        <i class="fa fa-share-alt"></i>
                                    </span>
                        <div class="share">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END / POST -->

            <!-- POST -->
            <div class="post">
                <div class="post-media">
                    <div class="image-wrap">
                        <img src="images/blog/4.jpg" alt="">
                    </div>
                    <div class="post-cat">
                        <a href="#">Restaurant</a>
                    </div>
                </div><div class="post-meta">
                    <div class="post-format">
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                    <div class="post-date">
                        <span class="year">2015</span>
                        <span class="month">Mar</span>
                        <span class="day">14</span>
                    </div>
                    <div class="post-comment">
                        <i class="fa fa-comment"></i>
                        <a href="#">105</a>
                    </div>
                </div>

                <div class="post-body">
                    <div class="post-author">
                        <div class="image-thumb">
                            <img src="images/author/1.jpg" alt="">
                        </div>
                        <div class="name-author">
                            <cite>Barbara Walters</cite>
                        </div>
                    </div>
                    <div class="post-title">
                        <h2><a href="blog-single.html">Nam commodo turpis sit amet magna</a></h2>
                    </div>
                    <div class="post-entry">
                        <p>Mauris id sapien ante. Praesent vulputate feugiat quam. Duis aliquam nisl non tellus ullamcorper, eget blandit nunc suscipit. Ut placerat urna ac nisl pretium, at gravida purus pulvinar. In pulvinar sit amet dolor non finibus. Aliquam at arcu egestas quam accumsan luctus. Mauris in sagittis lorem. Cras dapibus varius eros at vestibulum.</p>
                    </div>
                    <div class="post-link">
                        <a href="blog-single.html" class="pi-btn">Read more</a>
                    </div>
                    <div class="post-share">
                                    <span class="share-toggle pi-btn">
                                        <i class="fa fa-share-alt"></i>
                                    </span>
                        <div class="share">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END / POST -->

            <!-- PAGINATION -->
            <div class="pagination">
                <a href="#" class="prev">« Newer posts</a>
                <a href="#" class="next">Older posts »</a>
            </div>
            <!-- END / PAGINATION -->


        </div>
    </div>
    <!-- test end -->

<!--<%include ../addon/footer.html%>-->

<!-- LOAD JQUERY -->
<%include ../static/js.html%>
<script>
    setTimeout(function () {
        var photo_url = '<%=photo_url%>';
        console.log(photo_url);
        embedpano({swf:"/"+photo_url+".swf", xml:"/"+photo_url+".xml", target:"result", html5:"prefer", passQueryParameters:true});
        resizeHeight();

    },10);

    function resizeHeight(){
        var wid = $("body").css("width");
        var hei = $("body").css("height");
        wid = wid.split("px")[0];
        hei = hei.split("px")[0];
//        var hei = wid*10/16; //16 : 10의 비율
        $("#result").css("height",hei);
        $("#result").css("height",hei-60);
        console.log(hei,$("#result").css("height"));
    }

</script>


</body>

</html>
