<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">



    <%include ../static/css.html%>
<style>
    #result{
        min-height: 200px;
        max-height: 500px;
        max-width: 1024px;
    }
    #description{
        width: 100%;
        background: rgba(0,0,0,1);
        color: white;
        margin: 0;
        padding: 12px;
    }

</style>
    <title>Bingle+</title>
</head>

<body class="single-post" >
    <div id="description" class="row text-center">

        <h1 style="float: left;font-size: 20px; color: white"><%=account%></h1>
        <span style="font-size: 20px">
            <%=comment%>
        </span>
        <h1 style="font-size: 20px;float: right;color: white">bingle<span style="color: #E15D5D">+</span></h1>
    </div>
    <div id="result">

    </div>







<!--<%include ../addon/footer.html%>-->

<!-- LOAD JQUERY -->
<%include ../static/js.html%>
<script>
    setTimeout(function () {
        var photo_url = '<%=photo_url%>';
        console.log(photo_url);
        embedpano({swf:"/"+photo_url+".swf", xml:"/"+photo_url+".xml", target:"result", html5:"prefer", passQueryParameters:true});
        resizeHeight();

    },10);

    function resizeHeight(){
        var wid = $("body").css("width");
        var hei = $("body").css("height");
        wid = wid.split("px")[0];
        hei = hei.split("px")[0];
//        var hei = wid*10/16; //16 : 10의 비율
        $("#result").css("height",hei);
        $("#result").css("height",hei-60);
        console.log(hei,$("#result").css("height"));
    }

</script>


</body>

</html>
