<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">



  <%include static/css.html%>


  <title>Winters</title>
</head>
<body ng-app="bingle" ng-controller="root">

<!-- PRELOADER -->
<div id="preloader">
  <div class="tb-cell">
    <div class="page-loading">
      <div class="item-icon"></div>
    </div>
  </div>
</div>
<!-- END / PRELOADER -->

<!-- PAGE WRAP -->
<div id="page-wrap">
  <!-- HEADER -->
  <header id="header" class="header">
    <div class="container">
      <!-- LOGO -->
      <div class="logo text-center">
        <a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/index.html"><img src="/lib/template/images/logo.png" alt=""></a>
      </div>
      <!-- END / LOGO -->
    </div>

    <!-- NAVIGATION -->
    <nav class="pi-navigation" data-menu-responsive="1200">
      <div class="container">
        <div class="open-menu">
          <span class="item item-1"></span>
          <span class="item item-2"></span>
          <span class="item item-3"></span>
        </div>
        <div class="close-menu"></div>
        <ul class="navlist">
          <li class="menu-item-has-children current-menu-parent">
            <a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/index.html">Home</a>
            <ul class="sub-menu">
              <li class="menu-item-has-children">
                <a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/grid.html">Grid</a>
                <ul class="sub-menu">
                  <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/grid.html">Fullwidth</a></li>
                  <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/grid-rightsidebar.html">Right sidebar</a></li>
                  <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/grid-leftsidebar.html">Left sidebar</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/list.html">List</a>
                <ul class="sub-menu">
                  <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/list.html">Fullwidth</a></li>
                  <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/list-rightsidebar.html">Right sidebar</a></li>
                  <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/list-leftsidebar.html">Left sidebar</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/timeline.html">Timeline</a>
                <ul class="sub-menu">
                  <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/timeline.html">Fullwidth</a></li>
                  <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/timeline-rightsidebar.html">Right sidebar</a></li>
                  <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/timeline-leftsidebar.html">Left sidebar</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children current-menu-parent">
                <a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/index.html">Standard</a>
                <ul class="sub-menu">
                  <li class="current-menu-item"><a href="standard.html">Fullwidth</a></li>
                  <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/index.html">Right sidebar</a></li>
                  <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/standard-leftsidebar.html">Left sidebar</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/about.html">About</a></li>
          <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/category.html">Category</a></li>
          <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/category.html">Restaurant</a></li>
          <li class="megamenu col-5 menu-item-has-children">
            <a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/category.html">Mega menu</a>

            <ul class="sub-menu">
              <li>
                <div class="post">
                  <div class="post-media">
                    <div class="image-wrap">
                      <img src="/lib/template/images/popular-post/400x258.gif" alt="">
                    </div>
                  </div>
                  <div class="post-body">
                    <div class="post-title">
                      <h2><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/single.html">Ut sit amet massa</a></h2>
                    </div>
                    <span class="post-date">March 05, 2015</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="post">
                  <div class="post-media">
                    <div class="image-wrap">
                      <img src="/lib/template/images/popular-post/400x258.gif" alt="">
                    </div>
                  </div>
                  <div class="post-body">
                    <div class="post-title">
                      <h2><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/single.html">Ut sit amet massa</a></h2>
                    </div>
                    <span class="post-date">March 05, 2015</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="post">
                  <div class="post-media">
                    <div class="image-wrap">
                      <img src="/lib/template/images/popular-post/400x258.gif" alt="">
                    </div>
                  </div>
                  <div class="post-body">
                    <div class="post-title">
                      <h2><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/single.html">Ut sit amet massa</a></h2>
                    </div>
                    <span class="post-date">March 05, 2015</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="post">
                  <div class="post-media">
                    <div class="image-wrap">
                      <img src="/lib/template/images/popular-post/400x258.gif" alt="">
                    </div>
                  </div>
                  <div class="post-body">
                    <div class="post-title">
                      <h2><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/single.html">Ut sit amet massa</a></h2>
                    </div>
                    <span class="post-date">March 05, 2015</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="post">
                  <div class="post-media">
                    <div class="image-wrap">
                      <img src="/lib/template/images/popular-post/400x258.gif" alt="">
                    </div>
                  </div>
                  <div class="post-body">
                    <div class="post-title">
                      <h2><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/single.html">Ut sit amet massa</a></h2>
                    </div>
                    <span class="post-date">March 05, 2015</span>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/single.html">Single</a></li>
          <li><a href="../../../../Downloads/themeforest-11149780-winters-personal-html-blog-template/winters/contact.html">Contact</a></li>
        </ul>

        <div class="search-box">
                    <span class="icon-search">
                        <i class="fa fa-search"></i>
                    </span>
          <form action="GET">
            <input type="search" value="Search and hit enter">
          </form>
        </div>
        <div class="share-box">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </nav>
    <!-- END / NAVIGATION -->

  </header>
  <!-- END / HEADER -->

  <!-- FEATURED -->
  <section class="featured">
    <div class="featured-slider">
      <!-- POST -->
      <div class="post">
        <div class="post-media">
          <div class="image-wrap">
            <img src="/lib/template/images/feature/400x300.gif" alt="">
          </div>
        </div>
        <div class="post-body">
          <span class="cat"><a href="#">Lifestyle</a></span>
          <div class="post-title">
            <h4>
              <a href="#">There are many variations</a>
            </h4>
          </div>
          <div class="post-meta">
            <span class="post-date">March 8, 2015</span>
          </div>
        </div>
      </div>
      <!-- END / POST -->

      <!-- POST -->
      <div class="post">
        <div class="post-media">
          <div class="image-wrap">
            <img src="/lib/template/images/feature/400x300.gif" alt="">
          </div>
        </div>
        <div class="post-body">
          <span class="cat"><a href="#">Lifestyle</a></span>
          <div class="post-title">
            <h4>
              <a href="#">There are many variations</a>
            </h4>
          </div>
          <div class="post-meta">
            <span class="post-date">March 8, 2015</span>
          </div>
        </div>
      </div>
      <!-- END / POST -->

      <!-- POST -->
      <div class="post">
        <div class="post-media">
          <div class="image-wrap">
            <img src="/lib/template/images/feature/400x300.gif" alt="">
          </div>
        </div>
        <div class="post-body">
          <span class="cat"><a href="#">Lifestyle</a></span>
          <div class="post-title">
            <h4>
              <a href="#">There are many variations</a>
            </h4>
          </div>
          <div class="post-meta">
            <span class="post-date">March 8, 2015</span>
          </div>
        </div>
      </div>
      <!-- END / POST -->

      <!-- POST -->
      <div class="post">
        <div class="post-media">
          <div class="image-wrap">
            <img src="/lib/template/images/feature/400x300.gif" alt="">
          </div>
        </div>
        <div class="post-body">
          <span class="cat"><a href="#">Lifestyle</a></span>
          <div class="post-title">
            <h4>
              <a href="#">There are many variations</a>
            </h4>
          </div>
          <div class="post-meta">
            <span class="post-date">March 8, 2015</span>
          </div>
        </div>
      </div>
      <!-- END / POST -->

      <!-- POST -->
      <div class="post">
        <div class="post-media">
          <div class="image-wrap">
            <img src="/lib/template/images/feature/400x300.gif" alt="">
          </div>
        </div>
        <div class="post-body">
          <span class="cat"><a href="#">Lifestyle</a></span>
          <div class="post-title">
            <h4>
              <a href="#">There are many variations</a>
            </h4>
          </div>
          <div class="post-meta">
            <span class="post-date">March 8, 2015</span>
          </div>
        </div>
      </div>
      <!-- END / POST -->
    </div>
  </section>
  <!-- END / FEATURED -->

  <!-- BLOG MAIN CONTENT -->
  <section class="blog-content blog-standard">
    <div class="container">
      <div class="row">
        <!-- CONTENT -->
        <div class="col-md-10 col-md-offset-1">
          <div class="content">

            <!-- POST -->
            <div class="post">
              <div class="post-media">
                <div class="image-wrap">
                  <img src="/img/1891216161_ce40e002.jpg" alt="">
                </div>
                <div class="post-cat">
                  <a href="#">Travel</a>
                </div>
              </div>
              <div class="post-meta">
                <div class="post-format">
                  <a href="#"><i class="fa fa-image"></i></a>
                </div>
                <div class="post-date">
                  <span class="year">2015</span>
                  <span class="month">Mar</span>
                  <span class="day">14</span>
                </div>
                <div class="post-comment">
                  <i class="fa fa-comment"></i>
                  <a href="#">105</a>
                </div>
              </div>
              <div class="post-body">
                <div class="post-author">
                  <div class="image-thumb">
                    <img src="/lib/template/images/author/50x50.gif" alt="">
                  </div>
                  <div class="name-author">
                    <cite>Barbara Walters</cite>
                  </div>
                </div>
                <div class="post-title">
                  <h2><a href="blog-single.html">Nam commodo turpis sit amet magna</a></h2>
                </div>
                <div class="post-entry">
                  <p>Mauris id sapien ante. Praesent vulputate feugiat quam. Duis aliquam nisl non tellus ullamcorper, eget blandit nunc suscipit. Ut placerat urna ac nisl pretium, at gravida purus pulvinar. In pulvinar sit amet dolor non finibus. Aliquam at arcu egestas quam accumsan luctus. Mauris in sagittis lorem. Cras dapibus varius eros at vestibulum.</p>
                </div>
                <div class="post-link">
                  <a href="blog-single.html" class="pi-btn">Read more</a>
                </div>
                <div class="post-share">
                                    <span class="share-toggle pi-btn">
                                        <i class="fa fa-share-alt"></i>
                                    </span>
                  <div class="share">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
                    <!--<a href="#"><i class="fa fa-dribbble"></i></a>-->
                    <!--<a href="#"><i class="fa fa-instagram"></i></a>-->
                  </div>
                </div>
              </div>
            </div>
            <!-- END / POST -->

            <!-- POST -->
            <div class="post">
              <div class="post-media">
                <div class="image-wrap">
                  <img src="/lib/template/images/blog/770x500.gif" alt="">
                </div>
                <div class="post-cat">
                  <a href="#">Music</a>
                </div>
              </div>
              <div class="post-meta">
                <div class="post-format">
                  <a href="#"><i class="fa fa-soundcloud"></i></a>
                </div>
                <div class="post-date">
                  <span class="year">2015</span>
                  <span class="month">Mar</span>
                  <span class="day">14</span>
                </div>
                <div class="post-comment">
                  <i class="fa fa-comment"></i>
                  <a href="#">105</a>
                </div>
              </div>
              <div class="post-body">
                <div class="post-author">
                  <div class="image-thumb">
                    <img src="/lib/template/images/author/50x50.gif" alt="">
                  </div>
                  <div class="name-author">
                    <cite>Barbara Walters</cite>
                  </div>
                </div>
                <div class="post-title">
                  <h2><a href="blog-single.html">Nam commodo turpis sit amet magna</a></h2>
                </div>
                <div class="post-entry">
                  <p>Mauris id sapien ante. Praesent vulputate feugiat quam. Duis aliquam nisl non tellus ullamcorper, eget blandit nunc suscipit. Ut placerat urna ac nisl pretium, at gravida purus pulvinar. In pulvinar sit amet dolor non finibus. Aliquam at arcu egestas quam accumsan luctus. Mauris in sagittis lorem. Cras dapibus varius eros at vestibulum.</p>
                </div>
                <div class="post-link">
                  <a href="blog-single.html" class="pi-btn">Read more</a>
                </div>
                <div class="post-share">
                                    <span class="share-toggle pi-btn">
                                        <i class="fa fa-share-alt"></i>
                                    </span>
                  <div class="share">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- END / POST -->

            <!-- POST -->
            <div class="post">
              <div class="post-media">
                <div class="image-wrap">
                  <img src="/lib/template/images/blog/770x500.gif" alt="">
                </div>
                <div class="post-cat">
                  <a href="#">Lifestyle</a>
                </div>
              </div>
              <div class="post-meta">
                <div class="post-format">
                  <a href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
                <div class="post-date">
                  <span class="year">2015</span>
                  <span class="month">Mar</span>
                  <span class="day">14</span>
                </div>
                <div class="post-comment">
                  <i class="fa fa-comment"></i>
                  <a href="#">105</a>
                </div>
              </div>
              <div class="post-body">
                <div class="post-author">
                  <div class="image-thumb">
                    <img src="/lib/template/images/author/50x50.gif" alt="">
                  </div>
                  <div class="name-author">
                    <cite>Barbara Walters</cite>
                  </div>
                </div>
                <div class="post-title">
                  <h2><a href="blog-single.html">Nam commodo turpis sit amet magna</a></h2>
                </div>
                <div class="post-entry">
                  <p>Mauris id sapien ante. Praesent vulputate feugiat quam. Duis aliquam nisl non tellus ullamcorper, eget blandit nunc suscipit. Ut placerat urna ac nisl pretium, at gravida purus pulvinar. In pulvinar sit amet dolor non finibus. Aliquam at arcu egestas quam accumsan luctus. Mauris in sagittis lorem. Cras dapibus varius eros at vestibulum.</p>
                </div>
                <div class="post-link">
                  <a href="blog-single.html" class="pi-btn">Read more</a>
                </div>
                <div class="post-share">
                                    <span class="share-toggle pi-btn">
                                        <i class="fa fa-share-alt"></i>
                                    </span>
                  <div class="share">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- END / POST -->

            <!-- POST -->
            <div class="post">
              <div class="post-media">
                <div class="image-wrap">
                  <img src="/lib/template/images/blog/770x500.gif" alt="">
                </div>
                <div class="post-cat">
                  <a href="#">Restaurant</a>
                </div>
              </div>
              <div class="post-meta">
                <div class="post-format">
                  <a href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
                <div class="post-date">
                  <span class="year">2015</span>
                  <span class="month">Mar</span>
                  <span class="day">14</span>
                </div>
                <div class="post-comment">
                  <i class="fa fa-comment"></i>
                  <a href="#">105</a>
                </div>
              </div>
              <div class="post-body">
                <div class="post-author">
                  <div class="image-thumb">
                    <img src="/lib/template/images/author/50x50.gif" alt="">
                  </div>
                  <div class="name-author">
                    <cite>Barbara Walters</cite>
                  </div>
                </div>
                <div class="post-title">
                  <h2><a href="blog-single.html">Nam commodo turpis sit amet magna</a></h2>
                </div>
                <div class="post-entry">
                  <p>Mauris id sapien ante. Praesent vulputate feugiat quam. Duis aliquam nisl non tellus ullamcorper, eget blandit nunc suscipit. Ut placerat urna ac nisl pretium, at gravida purus pulvinar. In pulvinar sit amet dolor non finibus. Aliquam at arcu egestas quam accumsan luctus. Mauris in sagittis lorem. Cras dapibus varius eros at vestibulum.</p>
                </div>
                <div class="post-link">
                  <a href="blog-single.html" class="pi-btn">Read more</a>
                </div>
                <div class="post-share">
                                    <span class="share-toggle pi-btn">
                                        <i class="fa fa-share-alt"></i>
                                    </span>
                  <div class="share">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- END / POST -->

            <!-- PAGINATION -->
            <div class="pagination">
              <a href="#" class="prev">&laquo; Newer posts</a>
              <a href="#" class="next">Older posts &raquo;</a>
            </div>
            <!-- END / PAGINATION -->


          </div>
        </div>
        <!-- END / CONTENT -->
      </div>
    </div>
  </section>
  <!-- BLOG MAIN CONTENT -->



  <!-- FOOTER -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="row">

        <!-- WIDGET NEWSLETTER -->
        <div class="col-md-4">
          <div class="widget widget_newsletter">
            <h4>Newsletter</h4>
            <div class="desc">
              <p>Subscribe now if you want to recieve updates and news via email.</p>
            </div>
            <form id="subscribe-form" action="POST">
              <div class="form-item form-remove">
                <input type="text" id="subscribe-email" value="Enter your email">
              </div>
              <div class="form-actions form-remove">
                <input type="submit" id="subscribe-button" value="Send">
              </div>
              <div class="subscribe-status"></div>
            </form>
          </div>
        </div>
        <!-- END / WIDGET NEWSLETTER -->

        <!-- WIDGET META -->
        <div class="col-md-3">
          <div class="widget widget_meta">
            <h4>Meta</h4>
            <ul>
              <li><a href="#">Log in</a></li>
              <li><a href="#">Entries RSS</a></li>
              <li><a href="#">Comments RSS</a></li>
            </ul>
          </div>
        </div>
        <!-- END / WIDGET META -->

        <!-- WIDGET TWITTER -->
        <div class="col-md-3">
          <div class="widget widget_latest_tweet">
            <h4>Latest tweet</h4>
            <!--<div class="latest-tweets" data-username="hoa_doi_2911" data-number="5" data-modpath="./twitter/index.php">-->
            </div>
          </div>
        </div>
        <!-- END / WIDGET TWITTER -->

        <!-- WIDGET ARCHIVES -->
        <div class="col-md-2">
          <div class="widget widget_archive">
            <h4>Archives</h4>
            <ul>
              <li><a href="#">September 2014</a></li>
              <li><a href="#">July 2014</a></li>
              <li><a href="#">June 2014</a></li>
            </ul>
          </div>
        </div>
        <!-- END / WIDGET ARCHIVES -->
      </div>
    </div>
    <div class="copyright text-center">
      <p>Copyrights © 2014 All Rights Reserved by Long Nguyen</p>
    </div>
  </footer>
  <!-- END / FOOTER -->



</div>
<!-- END / PAGE WRAP -->

<!-- LOAD JQUERY -->
<%include static/js.html%>




</body>
</html>