<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">



  <%include ../static/css.html%>
  
    <title></title>
</head>
<style>
    .post-header{
        margin-left: 30px;
        margin-top: 30px;

    }
    .post-header h1{
        padding-top: 30px;
    }
    .contact-info{
        float: right;
        margin-right: 30px;
        margin-top: -65px;

    }
    .preview{
        width: 250px;

    }
    .post-body{
        margin-top: 60px;
    }
</style>
<body class="single-post" ng-app="bingle" ng-controller="root">

<!-- PRELOADER -->

<!-- END / PRELOADER -->

<!-- PAGE WRAP -->
<div id="page-wrap" ng-controller="upload">

    <%include ../addon/header.ejs%>

    <!-- BLOG MAIN CONTENT -->
    <section class="blog-content blog-standard contact-page">
        <div class="container">
            <div class="row">
                <!-- CONTENT -->
                <div class="col-md-12">
                    <div class="content">

                        <!-- POST -->
                        <div class="post">

                            <div class="post-header ">
                                <h1 class="">Upload</h1>
                                <div class="contact-info ">
                                    <img src="/img/blank_img.png" class="preview" id="preview" src="#" alt="preview"/>

                                </div>
                            </div>
                            <div class="post-body margin-zero-top">
                                <div class="contact-form">
                                    <form id="uploadform" method="post" enctype="multipart/form-data" action="upload">

                                        <div class="form-item">
                                            <input name="title" type="text" placeholder="제목"/>
                                        </div>
                                        <div class="form-textarea">
                                            <textarea name="content">내용</textarea>
                                        </div>
                                        <div class="form-item" style="float: inherit">
                                            <input name="avatar" type="file" id="imginput"/>
                                        </div>
                                        <div class="form-actions">
                                            <input type="submit" value="Send">
                                        </div>
                                        <!--<input class="none" type="text" name="user_id" value=""  ng-value="user_idx">-->


                                    </form>
                                </div>                              
                            </div>
                        </div>
                        <!-- END / POST -->
                    </div>
                </div>
                <!-- END / CONTENT -->
            </div>
        </div>
    </section>
    <!-- BLOG MAIN CONTENT -->
</div>
<!-- END / PAGE WRAP -->


<!-- LOAD JQUERY -->
<%include ../static/js.html%>

<script>

        $(document).ready(function(){
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader(); //파일을 읽기 위한 FileReader객체 생성
                    reader.onload = function (e) {
                    //파일 읽어들이기를 성공했을때 호출되는 이벤트 핸들러
                        $('#preview').attr('src', e.target.result);
                        //이미지 Tag의 SRC속성에 읽어들인 File내용을 지정
                        //(아래 코드에서 읽어들인 dataURL형식)
                    }                   
                    reader.readAsDataURL(input.files[0]);
                    //File내용을 읽어 dataURL형식의 문자열로 저장
                }
            }//readURL()--
   
            //file 양식으로 이미지를 선택(값이 변경) 되었을때 처리하는 코드
            $("#imginput").change(function(){
                //alert(this.value); //선택한 이미지 경로 표시
                readURL(this);
            });
         });
         

  
  </script>

<%include ../addon/footer.html%>

</body>

</html>