[Desktop Entry]
Name=Convert CUBE to SPHERE droplet
Exec="/home/pastelplus/krpano-1.18.5/krpanotools" cube2sphere -config=templates/convertdroplets.config %F
Path=/home/pastelplus/krpano-1.18.5/
Icon=/home/pastelplus/krpano-1.18.5/.converticon
Terminal=true
Type=Application
Categories=Application;Graphics;
StartupNotify=false
