[Desktop Entry]
Name=krpano Tools
Exec="/home/pastelplus/krpano-1.18.5/krpano Tools.sh" %F
Icon=/home/pastelplus/krpano-1.18.5/.krpanotoolsicon
Terminal=false
Type=Application
Categories=Application;Graphics;
StartupNotify=false
